.footer
{
  width: 100%;
  min-height: 2.5em;
  font-size: 1.5em;

  margin-top: auto;
  justify-content: center;
  align-items: flex-end;

  color: #F0F0F0;
  background-color: #303030;
}

.footer > label
{
  font-weight: bold;
  margin-bottom: 1em;
}