.itemEdit
{
  display: flex;
  flex-direction: column;
}

.itemEditGroupArea
{
  display: flex;
  flex-direction: column;
}

.itemEditGroupTitle
{
  color: #2BB673;
  font-weight: bold;
}

.itemEditGroup
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;

  border: solid;
  border-color: lightgray;
  border-width: thin;

  padding-top: 0.8vh;
  padding-bottom: 0.8vh;
  padding-right: 0.45vw;
  padding-left: 0.45vw;

  margin-bottom: 3vh;
}

.itemEditGroup button
{
  display: flex;
  flex-direction: row;
  cursor: pointer;

  margin-top: 0.8vh;
  margin-bottom: 0.8vh;
  margin-left: 0.45vw;
  margin-right: 0.45vw;
}

.itemEditButtonSign
{
  background: #2BB673;

  border: solid;
  border-color: #2BB673;
  border-width: thin;
  border-radius: 100%;

  margin-left: 0.3vw;
  padding: 0;

  width: 2vmin;
  height: 2vmin;

  line-height: 2vmin;
  text-align: center;
  
  pointer-events: none;
}
