html
{
  height: 100%;
  width: 100%;
}

body
{
  height: 100%;
  width: 100%;
  color: white;

  min-width: 912px;
  min-height: 513px;

  display: flex;
  flex-direction: column;
  justify-content: space-between 
}

html, body
{
  margin: 0px;
  padding: 0px;
}

.app
{
  width: 100%;
  height: 100%;
}

.flexItemsCol
{
  display: flex;
  flex-direction: row;
}

.flexItemsRow
{
  display: flex;
  flex-direction: column;
}

.itTalentButton, .itTalentDarkButton,
.itTalentComboBox
{
  cursor: pointer;
  color: white;

  border-style: solid;
  font-size: 0.85em;

  padding-top: 0.19em;
  padding-bottom: 0.19em;
  padding-left: 0.38em;
  padding-right: 0.38em;
}

.itTalentButton, .itTalentComboBox
{
  background-color: #2BB673;
  border-color: #2BB673;
}

.itTalentDarkButton
{
  background-color: #303030;
  border-color: #303030;
}

.itTalentComboBox
{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  text-align-last: center;
}

.itTalentButton:focus, .itTalentDarkButton:focus,
.itTalentComboBox:focus, .itTalentTextField:focus
{
  outline: none;
  box-shadow: none;
}

.itTalentTextField
{
  background-color: transparent;
  color: #303030;
  text-align: center;
  font-size: 0.85em;

  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-width: 0.07em;
  border-bottom-color: #2BB673;
}

.itTalentTextField:disabled
{
  background-color: #303030;
}

.contentArea
{
  background-color: #303030;
  color: white;

  min-width: 55%;
  max-width: 55%;

  padding: 2em;
}

.sectionTitle
{
  background-color: #2BB673;
  color: white;

  font-weight: bold;
  font-size: 2em;
  text-align: center;

  width: 100%;

  padding-top: 0.38em;
  padding-bottom: 0.38em;
  
  margin-bottom: 2.25em;

  box-shadow: 0 0 0.1em 0.04em #6fdcaf;
}

.listItem
{
  background-color: #606060;

  min-width: 90%;
  
  margin-top: 0.88em;
  margin-bottom: 0.88em;

  padding-top: 0.38em;
  padding-bottom: 0.63em;
  padding-left: 0.63em;
  padding-right: 0.63em;

  box-shadow: 0 0 0.1em 0.04em grey;
}

.listItem > h3
{
  color: #2BB673;
  width: 100%;

  margin: 0px;

  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

.itTalentFormMessage
{
  color: #2BB673;
  font-weight: bold;

  margin-top: 1.63em;
  margin-bottom: 1.63em;
}