.listArea > div
{
  align-items: center;

  min-width: 100%;
  max-width: 100%;
}

.listArea > div > div:last-child
{
  width: 100%;
  justify-content: flex-end;

  margin-top: 1.5em;
}

.listArea > div > span
{
  width: 100%;
  text-align: center;

  padding-top: 1.5em;
  padding-bottom: 1.5em;
  padding-left: 0;
  padding-right: 0;
}