.personForm
{
  margin-top: 1.25em;
}

.personForm > div:not(last-child)
{
  margin-bottom: 1em;
}

.personForm > div > label
{
  min-width: 5em;
  margin-top: auto;
  padding: 0;
}

.personForm > div > input
{
  flex: 1;
  appearance: textfield;
  color: white;

  padding-left: 0.5em;
  padding-right: 0.5em;
}
