.navBar
{
  width: 100%;
  justify-content: center;
  background-color: transparent;

  height: 3.5em;

  margin-bottom: 4em;
}

.navBar > div
{
  width: 25%;
  background-color: #303030;
  justify-content: center;
}

.navBar > div > label
{
  background-color: #303030;
  cursor: pointer;
  color: white;
  font-size: 1.6em;

  border-style: solid;
  border-color: #303030;

  align-items: center;

  padding-left: 0.5em;
  padding-right: 0.5em;
}

.navBar > div > label:hover
{
  background-color: #2BB673;
  border-color: #2BB673;
}

.navOn
{
  background-color: #2BB673 !important;
  border-color: #2BB673 !important;
  font-weight: bold;
}

.navBar > span
{
  min-width: 25%;
  max-width: 25%;
}

.navBar > span:first-child
{
  background-image: -webkit-linear-gradient(
      45deg, transparent 50%, #303030 50%);
}

.navBar > span:last-child
{
  background-image: -webkit-linear-gradient(
      135deg, transparent 50%, #303030 50%);
}