.skillListItem > div
{
  margin-top: 1.5em;
  min-width: 100%;
  max-width: 100%;
}

.skillListItem > div > div:last-child
{
  margin-left: auto;
  margin-top: 1.63em;
}

.skillListItem > div > div:last-child > button
{
  margin-left: 0.63em; 
}