.personSkillItemEdit
{
  width: 100%;
}

.personSkillItemEdit > div:nth-child(2)
{
  justify-content: space-between;

  margin-top: 1.5em;
  margin-bottom: 2em;
}

.personSkillItemEdit > h3
{
  color: #2BB673;
  width: 100%;

  margin: 0px;

  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}