.personListItem > div
{
  justify-content: space-between;
  margin-top: 1.5em;
}

.personListItem > div > div:first-child
{
  justify-content: space-between;
}

.personListItem > div > div:nth-child(2)
{
  margin-top: 0.88em;
  margin-bottom: 1.63em;
}

.personListItem > div >
    div:nth-child(2) > label:first-child
{
  color: #2BB673;
  font-weight: bold;
}

.personListItem > div > div:last-child
{
  margin-left: auto;
}

.personListItem > div > div:last-child > button
{
  margin-left: 0.63em;
}