.itemEditArea > div
{
  align-items: center;

  padding-top: 0.63em;
  padding-bottom: 0.63em;
  padding-left: 0.63em;
  padding-right: 0.63em;

  background-color: #606060;
  box-shadow: 0 0 0.1em 0.04em grey;
}

.itemEditArea > div:last-child
{
  align-items: flex-end;
}